@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    background: #ffffff;
    color: #000000;
    line-height: 1.5;
    @apply text-xs md:text-sm lg:text-base;
  }

  ::selection {
    @apply bg-primary-600;
    @apply text-white;
  }
  section {
    @apply relative;
    @apply w-full;
    @apply pt-6;
    @apply pb-6;
  }

  a {
    @apply text-primary-700;
    @apply relative;
    @apply inline-block;
    @apply transition-all;
    @apply ease-in-out;
    @apply transform;
    @apply origin-left;
  }

  a:after {
    @apply absolute;
    @apply block;
    @apply w-full;
    @apply h-[1px];
    @apply bg-primary-700;
    @apply transition-all;
    @apply ease-in-out;
    @apply transform;
    @apply origin-left;
    content: "";
  }

  a:hover:after {
    @apply w-0;
    @apply transform;
    @apply origin-right;
  }

  nav.scrolled {
    @apply bg-white/80;
    @apply backdrop-blur-sm;
  }

  nav.scrolled .action-button {
    @apply py-2;
  }

  nav a {
    @apply text-black;
    @apply relative;
    @apply block;
  }

  nav a:after,
  .social-link:after {
    @apply hidden;
  }

  .social-link {
    @apply rounded-full p-2 hover:bg-primary-700 hover:text-white;
  }

  .nav-links > .link {
    @apply text-black;
    @apply relative;
    @apply inline-block;
    @apply transition-all;
    @apply ease-in-out;
    @apply transform;
    @apply origin-left;
  }

  .nav-links > .link:after {
    @apply absolute;
    @apply block;
    @apply w-0;
    @apply h-[1px];
    @apply bg-black;
    @apply transition-all;
    @apply ease-in-out;
    @apply transform;
    @apply origin-left;
    content: "";
  }

  .nav-links > .link:hover:after {
    @apply w-full;
    @apply transform;
    @apply origin-right;
  }

  .nav-links > .link.active {
    @apply font-bold;
  }

  .nav-links > .link.active:after {
    @apply w-full;
    @apply transform;
    @apply origin-right;
  }

  .nav-links > .link.active:hover:after {
    @apply w-0;
    @apply transform;
    @apply origin-left;
  }

  .category__item {
    @apply relative;
    @apply p-10;
    @apply text-black;
    @apply w-full;
    @apply h-full;
    @apply rounded-md;
  }

  .category__item::before,
  .product__item::before {
    @apply absolute;
    @apply inset-0;
    @apply z-[1];
    @apply bg-transparent;
    @apply opacity-0;
    @apply rounded-md;
    @apply transition-all;
    content: "";
  }

  .product__item.featured::before {
    background: linear-gradient(
      var(--rotation),
      transparent 80%,
      #f2f9ff 70%,
      #0092e6 90%
    );
  }

  .category__item::before,
  .product__item::before {
    background: linear-gradient(
      var(--rotation),
      transparent 80%,
      #f2fdf8 70%,
      #0a9169 90%
    );
  }

  .category__item:hover::before,
  .product__item:hover::before {
    @apply opacity-100;
  }

  .category__item::after {
    @apply absolute;
    @apply inset-[1px];
    @apply z-[1];
    @apply bg-white;
    @apply bg-opacity-90;
    @apply bg-blend-overlay;
    @apply bg-cover;
    @apply bg-center;
    @apply h-auto;
    @apply w-auto;
    @apply rounded-md;
    content: "";
  }

  .category__item:hover::after {
    @apply w-auto;
  }

  .category__item.category-servers::after {
    @apply bg-[url('/images/placeholder-blog.jpg')];
  }

  .category__item.category-minecraft::after {
    @apply bg-[url('/images/minecraft.jpg')];
  }

  .product__item::after {
    @apply absolute;
    @apply inset-[1px];
    @apply z-[1];
    @apply bg-white;
    @apply h-auto;
    @apply w-auto;
    @apply rounded-md;
    content: "";
  }

  .product__item.featured .product__button {
    @apply bg-blue-500;
    @apply hover:bg-blue-400;
  }

  .heroImage {
    @apply absolute left-1/2 top-1/2 h-auto w-7/12 -translate-x-1/2 -translate-y-1/2;
  }
}
