@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer base {
  ::selection {
    @apply bg-primary-600;
    @apply text-white;
  }
  section {
    @apply relative;
    @apply w-full;
    @apply mt-6;
    @apply mb-6;
  }

  a {
    @apply text-primary-700;
    @apply relative;
    @apply inline-block;
    @apply transition-all;
    @apply ease-in-out;
    @apply transform;
    @apply origin-left;
  }

  a:after {
    @apply absolute;
    @apply block;
    @apply w-full;
    @apply h-[1px];
    @apply bg-primary-700;
    @apply transition-all;
    @apply ease-in-out;
    @apply transform;
    @apply origin-left;
    content: '';
  }

  a:hover:after {
    @apply w-0;
    @apply transform;
    @apply origin-right;
  }

  nav.scrolled {
    @apply bg-white/80;
    @apply backdrop-blur-sm;
  }

  nav.scrolled .action-button {
    @apply py-2;
  }

  nav a {
    @apply text-black;
    @apply relative;
    @apply block;
  }

  nav a:after,
  .category-item:after,
  .social-link:after {
    @apply hidden;
  }

  .social-link {
    @apply p-2 hover:text-white hover:bg-primary-700 rounded-full;
  }

  .nav-links > .link {
    @apply text-black;
    @apply relative;
    @apply inline-block;
    @apply transition-all;
    @apply ease-in-out;
    @apply transform;
    @apply origin-left;
  }

  .nav-links > .link:after {
    @apply absolute;
    @apply block;
    @apply w-0;
    @apply h-[1px];
    @apply bg-black;
    @apply transition-all;
    @apply ease-in-out;
    @apply transform;
    @apply origin-left;
    content: '';
  }

  .nav-links > .link:hover:after {
    @apply w-full;
    @apply transform;
    @apply origin-right;
  }

  .nav-links > .link.active {
    @apply font-bold;
  }

  .nav-links > .link.active:after {
    @apply w-full;
    @apply transform;
    @apply origin-right;
  }

  .nav-links > .link.active:hover:after {
    @apply w-0;
    @apply transform;
    @apply origin-left;
  }

  .category-item {
    @apply relative;
    @apply p-10;
    @apply bg-black;
    @apply bg-opacity-80;
    @apply bg-blend-multiply;
    @apply bg-cover;
    @apply bg-center;
    @apply h-full;
    @apply w-full;
    @apply rounded-md;
  }

  .category-item:hover {
    @apply bg-opacity-90;
  }

  .category-item.category-servers {
    @apply bg-[url('/images/placeholder-blog.jpg')];
  }

  .category-item.category-minecraft {
    @apply bg-[url('/images/minecraft.jpg')];
  }

  .heroImage {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-7/12 h-auto;
  }
}
